.category{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 100vw;
    background-color: white;
    z-index: 1;
}

.category > li{
    position: relative;
    margin-inline: 10%;
    transition: background-color 0.65s;
    padding: 0.5%;
    border-radius: 10px;
    margin-block: 0.5% !important;
    list-style: none !important;
    border: none !important;
}

.category li{
    border-bottom: 1px solid gray;
    transition: all 0.5s;
    padding: 0.5%;
    margin-block: 6%;
    background-color: white;
    text-transform: capitalize;
}
.category > li:hover{
    background-color:#319AF5;
    color: white;
}

.category ul{
    z-index: 2;
    border-radius: 10px;
    color: black;
    position: absolute;
    top: 0%;
    left: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.71);
    height: 60vh;
    width: 12vw;
    transform: translateX(-10%);
    flex-direction: column;
    padding: 15%;
    background-color: white;
}


.category li:hover{
    text-decoration: underline;
    text-decoration-color: #319AF5;
}

@media screen and (max-width:1000px) {
    .category{
        position: absolute;
        top: 0%;
        background-color: #2b9eb3;
        width: 25%;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
    }

    .category  li{
        margin-left: 10%;
        transition: background-color 0.65s;
        color: white;
        border-bottom: 2px solid black;
        background-color: #2b9eb3;
    }

    .category  ul{
        position: absolute;
        height: 60vh;
        width: 35vw;
        background-color: #2b9eb3;
    }

}
