@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Poppins", sans-serif;
}

.logoImage{
  width: 100px;
  height: 100px;
}

.searchInput{
  width: 60vh;
  padding: 5%;
  height: 7vh;
  border-radius: 60px;
  font-size: 90%;
  position: relative;
  outline: none;
}

.centerItem{
  top: 50%;
  transform: translateY(-50%);
}

.ulAlign > li *{
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  margin-top: 2%;
  margin-inline: 2px;
}

.ulAlign > li:hover{
  color: #315CF5;
}

.dinnamicButton{
  transition: 0.5s transform;
}

.dinnamicText{
  transition: 0.5s;
}

.dinnamicButton:hover{
  transform: scale(1.05); 
}

.dinnamicText:hover{
  text-decoration: underline;
}

.bigButton{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  color: white;
  padding: 20%;
  background-color: #319AF5;
  cursor: pointer;
}

.overFlow{
  overflow-y: scroll;
}

.maxHeight{
  max-height: 200px;
}

.home{
  position: relative;
  z-index: 5;
}

.header{
  position: relative;
  z-index: 10;
}

@media screen and (max-width:1000px) {
  .logoImage{
    height: 50px;
    width: 50px;
  }

  .searchInput{
    width: 45vw;
    font-size: 10px;
    height: 5vh;
  }

  .bigButton{
    padding: 10%;
    width: 45px;
    height: 45px;
  }
}